{% extends 'base.html.twig' %}

{% block body %}
    <main class="h-full w-4/5 mt-14 mx-auto">
        <div class="w-full h-10">
            <a class="font-medium text-sm hover:text-blue-400 duration-200" href="{{ path('app_stockage') }}"><span class="text-xs font-light pr-2"><i class="bg-blue-100 fa-solid fa-angle-left border px-3 py-2 rounded-full text-blue-400"></i></span>Tous les conteneurs</a>
            <ul class="float-right text-sm font-medium">
                <li class="inline-block text-gray-500"><a class="hover:text-blue-400 duration-300" href="{{ path('app_home') }}">Accueil</a></li>
                <li class="ml-2 fa-solid fa-angle-right text-xs text-gray-500"></li>
                <li class="ml-2 inline-block text-gray-500"><a class="hover:text-blue-400 duration-300" href="{{ path('app_stockage') }}">Nos stockages</a></li>
                <i class="ml-2 fa-solid fa-angle-right text-xs text-gray-500"></i>
                <li class="ml-2 inline-block">Conteneur <?php echo $unContainer['libelleTypeContainer']?></li>
            </ul>
        </div>
        <div class="w-full h-px border rounded-xl mt-3"></div>
        <sectionL class="animate-in slide-in-from-left duration-700 w-2/5 float-left mt-20 ml-24">
            <div id="animation-carousel" class="relative" data-carousel="static">
                <!-- Création du caroussel -->
                <div class="overflow-hidden relative rounded-lg h-96">
                    <!-- Element 1 -->
                    <div class="hidden duration-200 ease-linear" data-carousel-item="active">
                        <img src="{{ asset(Container.photo) }}" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="...">
                    </div>
                    <!-- Element 2 -->
                    <div class="hidden duration-200 ease-linear" data-carousel-item>
                        <img src="{{ asset(Container.photo2) }}" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="...">
                    </div>
                    <!-- Element 3 -->
                    <div class="hidden duration-200 ease-linear" data-carousel-item>
                        <img src="{{ asset(Container.photo3) }}" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="...">
                    </div>
                    <!-- Element 4 -->
                    <div class="hidden duration-200 ease-linear" data-carousel-item>
                        <img src="{{ asset(Container.photo4) }}" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="...">
                    </div>
                </div>
                <!-- Bouton / Slider -->
                <button type="button" class="flex absolute top-0 left-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-prev>
				<span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 group-focus:outline-none">
					<svg class="w-5 h-5 text-black sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
					<span class="hidden">Previous</span>
				</span>
                </button>
                <button type="button" class="flex absolute top-0 right-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-next>
				<span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 group-focus:outline-none">
					<svg class="w-5 h-5 text-black sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
					<span class="hidden">Next</span>
				</span>
                </button>
            </div>
        </sectionL>
        <sectionR class="animate-in slide-in-from-right duration-700 w-2/5 h-full mt-10 float-right">
            <div class="mt-14 tracking-widest font-bold text-blue-400">VOLUME {{ Container.volume }}M³</div>
            <h1 class="mt-5 font-bold text-4xl">{{ Container.libelleTypeContainer }}</h1>
            <div class="mt-5 ">Un conteneur fait pour vous (Neuf)</div>
            <div class="flex mt-8">
                <p class="flex">
				<span>
					<span class=" text-gray-500">Location à partir de</span>
					<br>
					<strong class=" text-2xl font-bold text-blue-400">{{ Container.tarifJour }}€</strong>
					<sup>HT</sup>
					/jour
				</span>
                    <span class="ml-10">ou</span>
                    <span class="ml-10">
					<span class="text-gray-500">Location à partir de</span>
					<br>
					<strong class="text-2xl font-bold text-blue-400">{{ Container.tarifTrim }}€</strong>
					<sup>HT</sup>
					/mois
				</span>
                </p>
            </div>
            {% if app.user %}
            <form method="POST" action="{{ path('internal_cart_add', {'slug': Container.typeContainer}) }}">
                <select name="quantite" class="w-1/6 rounded-xl px-4 py-1 mt-6">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>

                <select class="w-auto ml-4 rounded-xl py-1 px-4" name="paiement">
                    <option value="Jour">Jour</option>
                    <option value="Mois">Mois</option>
                    <option value="Annee">Année {{ Container.tarifAnn }}</option>
                </select>
                {% endif %}
                <div class="mt-8">
                    <button type="submit" class=" bg-blue-800 hover:bg-blue-500 duration-500 text-white font-bold py-3 px-32 rounded-lg">
                        <i class="fa-solid fa-shopping-cart text-xl mr-2"></i>
                        Ajouter au panier
                    </button>
                </div>
            </form>
        </sectionR>
    </main>
{% endblock %}

