{% extends 'base.html.twig' %}

{% block body %}
    <div class="animate-in slide-in-from-right duration-700 absolute w-full top-52 items-center justify-center">
        <div class="mx-auto my-auto bg-gray-100 text-gray-500 rounded-3xl shadow-xl overflow-hidden" style="max-width:1000px">
            <div class="md:flex w-full">
                <div class="md:block w-1/2 py-10 px-10 bg-cover" style="background-image: url('{{ asset('build/static/img/connexion1.jpg') }}')"></div>
                <div class="w-full py-10 px-10">
                    <div class="text-center mb-10">
                        <h1 class="font-bold text-3xl text-gray-900">THOLDI</h1>
                        <p class="font-medium">Veuillez vous inscrire</p>
                    </div>
                    <div>
                        <form name="connexion" method="POST" action="" id="form_connexion">
                            <div class="flex -mx-3">
                                <div class="w-full px-3 mb-5">
                                    <label for="" class="text-xs font-semibold px-1">Email</label>
                                    <div class="flex">
                                        <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-email-outline text-gray-400 text-lg"></i></div>
                                        <input name="email" id="email" type="email" value="{{ last_username }}" autocomplete="email" required class="w-full -ml-10 pl-5 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500 duration-500 placeholder-gray-300" placeholder="tholdien@exemple.com" required>
                                    </div>
                                </div>
                            </div>
                            <div class="flex -mx-3">
                                <div class="w-full px-3 mb-12">
                                    <label for="" class="text-xs font-semibold px-1">Mot de passe</label>
                                    <div class="flex">
                                        <div class="w-10 z-10 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-lock-outline text-gray-400 text-lg"></i></div>
                                        <input name="password" id="password" type="password" class="w-full -ml-10 pl-5 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500 duration-500 placeholder-gray-300" placeholder="************" required>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                            <div class="-mx-3">
                                <div class="w-full h-24 px-3 mb-5 text-center">
                                    <button name="submit" type="submit" class="block w-full max-w-xs mx-auto bg-indigo-500 hover:bg-indigo-700 focus:bg-indigo-700 duration-500 text-white rounded-lg px-3 py-3 font-semibold">SE CONNECTER</button>
                                    <div class="mt-5">
                                        <a class="font-medium hover:text-blue-500 duration-300" href="{{ path('app_register') }}">Vous n'avez pas de compte ?</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}

