{% extends 'base.html.twig' %}

{% block body %}
    {#$nbArticles = 0;

    $reservation = obtenirDetailReservationParCodeClient($_SESSION['codeClient']);

    if (isset($reservation['codeReservation'])) {

    $reserver = obtenirDetailReserver($reservation['codeReservation']);#}
    <main class="w-full h-full pl-8">
        <section class="mx-auto w-4/5 h-4/5 m-10 bg-gray-300/30 rounded-3xl p-8 border-2 border-gray-400/10">
            <div class="w-full h-full">
                <div class="overflow-y-auto scrollbar-thin scrollbar-thumb-transparent scrollbar-track-transparent bg-white w-3/6 h-3/6 border-2 mx-auto mb-5 drop-shadow-2xl rounded-2xl">
                    {% if Reservations is not defined or Reservations is empty %}
                        <div class="w-3/6 mx-auto mt-5 rounded-2xl">
                            <img class="w-full h-3/5" src="{{ asset('build/static/img/emptyReservation.png') }}" alt="">
                        </div>
                    {% else %}
                        <h1 class="w-auto text-center mx-auto mt-5 text-2xl font-bold">Mes réservations</h1>
                        {% if Reservations is defined %}
                            {% for Reservation in Reservations %}
                                <div class="w-full flex">
                                    <div class="w-3/5 p-4 ml-14 mt-3">
                                        <span class="absolute left-4 ml-6 mt-0.5 bg-orange-400 border-2 font-medium text-sm rounded-full px-3.5 py-2">{{ Reservation.etat }}</span>
                                        <h2 class="border-l-2 pl-4 ml-8">Commande n°{{ Reservation.id }}</h2>
                                        <h2 class="border-l-2 text-sm pl-4 ml-8">Reservé le: {{ Reservation.dateReservation|date('d/m/Y') }}</h2>
                                    </div>
                                    <div class="w-full">
                                        <button type="submit" value="" class="float-right text-sm font-medium mt-8 mr-12 p-2 px-3 hover:text-blue-500 transform-cpu duration-200">Voir Info</button>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="overflow-y-auto scrollbar-thin scrollbar-thumb-transparent scrollbar-track-transparent border-2 bg-white w-3/6 h-3/6 mx-auto drop-shadow-2xl rounded-2xl">
                    {% if Paniers is not defined or Paniers is empty %}
                        <div class="w-3/6 mx-auto mt-10 rounded-2xl">
                            <img src="{{ asset('build/static/img/emptyCart.png') }}" alt="">
                        </div>
                    {% else %}
                    <h1 class="text-center mx-auto mt-5 text-2xl font-bold">MON PANIER</h1>
                    {% if Paniers is defined %}
                        {% for Panier in Paniers %}
                            <div class="flex">
                                <div class="w-2/5 p-3 ml-16 mt-3">
                                    <img class="absolute left-4 ml-8 mt-0.5 w-10 h-10 object-cover border-2 rounded-full" src="{{ Panier.typeContainer.photo }}" alt="">
                                    <h2 class="border-l-2 pl-4 text-xl font-medium ml-6">{{ Panier.typeContainer.libelleTypeContainer }}</h2>
                                    <h2 class="border-l-2 pl-4 ml-6">Mode de paiement: </h2>
                                    <h2 class="border-l-2 text-sm pl-4 ml-6">Quantité: {{ Panier.quantite }}</h2>
                                </div>
                                <div class="w-full">
                                    <a href="{{ path('internal_cart_cartdelete', {'slug': Panier.typeContainer.typeContainer}) }}" id="suppression" type="submit"  class="float-right text-sm font-medium mt-11 mr-12 rounded-full p-2 hover:text-red-500 duration-500">Supprimer</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                        <div class="w-full text-center">
                            <button class="mt-3 mb-4 p-2 font-medium hover:text-green-600 duration-500"><a href="{{ path('app_reservation', {'slug': app.user.id }) }}">Valider panier</a></button>
                        </div>
                {% endif %}
            </div>
            </div>
        </section>
    </main>
{% endblock %}

