{% extends 'base.html.twig' %}

{% block body %}
    <main class="h-screen w-4/5 mt-24">
        <div class="animate-in slide-in-from-right duration-700 py-6">
            <div class="mx-48 w-full h-screen grid gap-28 grid-rows-3 grid-cols-3">
                {% for Container in ContainersList  %}
                    <div class="flex w-full h-44 bg-white drop-shadow-lg rounded-lg overflow-hidden">
                        <div class=" w-1/3 bg-cover bg-center object-cover">
                            <img class="w-32 mt-10" src="{{ asset(Container.photo) }}" alt="">
                        </div>
                        <div class="w-3/4 p-4">
                            <h1 class="text-gray-900 font-bold text-2xl">{{ Container.libelleTypeContainer }}</h1>
                            <p class="mt-2 text-gray-600 text-sm">Volume {{ Container.volume }}m³</p>
                            <a href="{{ path('app_container', {'slug': Container.typeContainer}) }}" class="float-right px-3 py-2 bg-gray-800 text-white text-xs font-bold uppercase rounded-lg hover:bg-blue-500 duration-500">Voir plus</a>
                            <div class="item-center mt-16">
                                <p class="text-xs text-gray-700">A partir de <strong class="">{{ Container.tarifJour }}€</strong>/jour ou <strong class="">{{ Container.tarifTrim }}€</strong>/mois</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}

