<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tholdi - Réservation de conteneur de stockage{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/6.6.6/css/flag-icons.min.css" rel="stylesheet" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="overflow-y-hidden overflow-x-hidden h-screen font-Poppins">
<nav class="w-4/5 p-5 mx-auto flex flex-row items-center justify-between lg:items-center">
    <div class="flex justify-between">
        <div>
            <a class="text-[30px] font-bold text-black hover:text-blue-500 duration-300 lg:text-3xl" href="{{ path('app_home') }}">THOLDI</a>
        </div>
        {#<!-- Mobile menu button -->
                <div class="flex lg:hidden">
                    <button type="button"
                            class="text-black focus:outline-none focus:text-gray-600"
                            aria-label="toggle menu">
                        <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                            <path fill-rule="evenodd"
                                  d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z">
                            </path>
                        </svg>
                    </button>
                </div>#}
    </div>
    <div class="flex gap-x-20 font-medium">
        <a class="text-black lg:px-6 dark:hover:text-blue-400 hover:text-blue-400 transtion duration-300" href="{{ path('app_stockage') }}">Nos stockages</a>
        <a class="text-black lg:px-6 dark:hover:text-blue-400 hover:text-blue-400 transtion duration-300" href="">Qui sommes-nous ?</a>
        <a class="text-black lg:px-6 dark:hover:text-blue-400 hover:text-blue-400 transtion duration-300" href="">Nous contacter</a>
    </div>
    {% if app.user != null %}
    <div class="" x-data="{ isOpen: false}">
        <button @click="isOpen = !isOpen"
                @keydown.escape="isOpen = false"
                class="flex items-center hover:text-blue-500 duration-300">
            <div class="relative my-auto">
                <img src="{{ asset('build/static/img/imageProfil.png') }}" class=" w-10 h-10 text-black mr-5  rounded-full" alt="">
                <span class="top-0 left-7 absolute  w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
            </div>
            <span class="font-medium">{{ app.user.login|upper }}<i class="ml-2 text-sm fas fa-chevron-down duration-300" :class="{'rotate-0': !isOpen, 'rotate-180': isOpen}"></i></span>
        </button>
        <ul x-show="isOpen"
            @click.away="isOpen = false"
            class="absolute font-normal bg-white shadow overflow-hidden rounded-xl w-48 border py-1 top-0 right-0 mt-14 mr-10 z-20">
            <li>
                <div class="relative w-10 my-auto mx-auto pb-2 pt-2">
                    <img src="{{ asset('build/static/img/imageProfil.png') }}" class=" w-10 h-10 text-black mr-5 rounded-full" alt="">
                    <span class="top-2 left-7 absolute w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
                </div>
            </li>
            <li class="border-t-2 ">
            <li class="border-b-2">
                <a href="{{ path('app_profile') }}" class="flex items-center px-3 py-3 hover:bg-blue-100">
                    <i class="fa-solid fa-user"></i>
                    <span class="font-medium ml-3">|</span>
                    <span class="font-medium ml-3">Mon Profil</span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_logout') }}" class="flex items-center px-3 py-3 hover:bg-blue-100">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="font-medium ml-3">|</span>
                    <span class="font-medium ml-3">Déconnexion</span>
                </a>
            </li>
        </ul>
    </div>
    {% else %}
    <button type="button">
        <a class="block h-10 px-5 py-2 font-semibold text-sm tracking-[0.5px] text-center text-black  hover:bg-gray-100 transition duration-200 border-2 rounded-lg border-gray-300 hover:border-neutral-600 hover:text-blue-500 lg:w-auto" href="{{ path('app_login') }}">Connexion</a>
    </button>
    {% endif %}

    <!--<button type="button">
        <a class="block h-10 px-5 py-2 font-semibold text-sm text-center text-black lg:mt-0 hover:bg-gray-100 transition duration-200 border-2 rounded-lg border-gray-300 hover:border-neutral-600 hover:text-blue-500 lg:w-auto" href="connexion.php">Connexion</a>
    </button>-->
</nav>
{% block body %}{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
<script defer src="https://unpkg.com/alpinejs@3.10.5/dist/cdn.min.js"></script>
<script src="https://kit.fontawesome.com/b8c6b83e3e.js" crossorigin="anonymous"></script>
</body>
</html>
